name: Auto-update
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch: # Enable to run manually
jobs:
  auto-update:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    env:
      BASE_BRANCH: main
      TARGET_BRANCH: auto-update
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y
          sudo apt-get install -y git zsh libcurl4-openssl-dev
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Use a cache for ".build" directory.
        uses: actions/cache@v4
        with:
          path: .build
          key: build-${{ github.workspace }}-${{ runner.os }}-auto-update
          restore-keys: |
            build-${{ github.workspace }}-${{ runner.os }}-auto-update
            build-${{ github.workspace }}-${{ runner.os }}-
            build-${{ github.workspace }}-
      - uses: YOCKOW/Action-setup-swift@main
        with:
          swift-version: "6.2.1"
      - name: Update the list and commit
        id: update-and-commit
        env:
          GIT_USER_NAME: "github-actions[bot]"
          GIT_USER_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
        run: |
          declare updateSummary=""
          set -x
          git config --local user.name "${GIT_USER_NAME}"
          git config --local user.email "${GIT_USER_EMAIL}"
          git fetch origin "${BASE_BRANCH}:refs/remotes/origin/${BASE_BRANCH}"
          git fetch origin "${TARGET_BRANCH}:refs/remotes/origin/${TARGET_BRANCH}"
          git checkout "origin/${TARGET_BRANCH}"
          git checkout -b "${TARGET_BRANCH}"
          git merge "origin/${BASE_BRANCH}"
          ./utils/update --commit
          git push --set-upstream origin "${TARGET_BRANCH}:${TARGET_BRANCH}"
          updateSummary=$(git diff --shortstat "origin/${BASE_BRANCH}..HEAD")
          echo "update-summary=${updateSummary}" >>"$GITHUB_OUTPUT"
      - name: Create PR and merge.
        if: ${{ steps.update-and-commit.outputs.update-summary != '' }}
        env:
          GH_TOKEN: ${{ github.token }}
          UPDATE_SUMMARY: ${{ steps.update-and-commit.outputs.update-summary }}
        run: |
          declare prURL
          declare checksState
          set -xu
          git checkout "${TARGET_BRANCH}"
          prURL=$(gh pr create --base "${BASE_BRANCH}"" --head "${TARGET_BRANCH}" --title "Update the list." --body "${UPDATE_SUMMARY}")
          sleep 10
          gh pr checks --watch --fail-fast "$prURL"
          checksState="$(gh pr checks --json state --jq '.[] | .state' "$prURL" | sort -u)"
          { set +x; } 2>/dev/null
          if [[ "$checksState" != "SUCCESS" ]]; then
            echo "::error title=Test(s) Failed::$(gh pr checks "$prURL")"
            exit 1
          fi
          set -x
          gh pr review "$prURL" --approve
          gh pr merge --merge --auto "$prURL"
