name: Auto-update
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch: # Enable to run manually
permissions:
  contents: write
  pull-requests: write
jobs:
  auto-update:
    strategy:
      fail-fast: false
      matrix:
        include:
          - auto-update-branch: auto-update/v2
            base-branch: main
            up-to-date-branch: up-to-date/v2
    runs-on: ubuntu-24.04
    env:
      AUTO_UPDATE_BRANCH: ${{ matrix.auto-update-branch }}
      BASE_BRANCH: ${{ matrix.base-branch }}
      UP_TO_DATE_BRANCH: ${{ matrix.up-to-date-branch }}
      GIT_USER_NAME: "github-actions[bot]"
      GIT_USER_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
    name: "Auto-update: ${{ matrix.auto-update-branch }} → ${{ matrix.base-branch }} → ${{ matrix.up-to-date-branch }}"
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y git zsh libcurl4-openssl-dev
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use a cache for ".build" directory.
        uses: actions/cache@v4
        with:
          path: .build
          key: build-${{ github.workspace }}-${{ runner.os }}-auto-update-${{ matrix.auto-update-branch }}
          restore-keys: |
            build-${{ github.workspace }}-${{ runner.os }}-auto-update-${{ matrix.auto-update-branch }}
            build-${{ github.workspace }}-${{ runner.os }}-auto-update-
            build-${{ github.workspace }}-${{ runner.os }}-
            build-${{ github.workspace }}-
      - uses: YOCKOW/Action-setup-swift@main
        with:
          swift-version: "6.2.1"
      - name: Configure git.
        run: |
          set -x
          git config --local user.name "${GIT_USER_NAME}"
          git config --local user.email "${GIT_USER_EMAIL}"
      - name: Update the list and commit ${{ env.AUTO_UPDATE_BRANCH }} branch.
        id: update-and-commit
        run: |
          declare updateSummary=""
          set -x
          git fetch origin "${AUTO_UPDATE_BRANCH}"
          git fetch origin "${BASE_BRANCH}"
          git checkout "origin/${AUTO_UPDATE_BRANCH}"
          git switch -c "${AUTO_UPDATE_BRANCH}"
          git merge "origin/${BASE_BRANCH}"
          ./utils/update --commit
          git push --set-upstream origin "${AUTO_UPDATE_BRANCH}:${AUTO_UPDATE_BRANCH}"
          echo "update-summary=$(git diff --shortstat "origin/${BASE_BRANCH}..HEAD")" >>"$GITHUB_OUTPUT"
      - name: Create PR and merge.
        if: ${{ steps.update-and-commit.outputs.update-summary != '' }}
        env:
          GH_TOKEN: ${{ secrets.AUTO_UPDATE_TOKEN }}
          UPDATE_SUMMARY: ${{ steps.update-and-commit.outputs.update-summary }}
        run: |
          declare oldPRURL
          declare prURL
          declare checksState
          set -xu
          oldPRURL=$(gh pr list --head "$AUTO_UPDATE_BRANCH" --json url --jq '.[].url')
          { set +x; } 2>/dev/null
          if [[ -n "$oldPRURL" ]]; then
            set -x
            gh pr close "$oldPRURL"
            { set +x; } 2>/dev/null
          fi
          set -x
          git checkout "${AUTO_UPDATE_BRANCH}"
          prURL=$(gh pr create --base "${BASE_BRANCH}" --head "${AUTO_UPDATE_BRANCH}" --title "Update the list." --body "Auto-update:${UPDATE_SUMMARY}")
          { set +x; } 2>/dev/null
          if [[ -n "$oldPRURL" ]]; then
            set +e; set -x
            gh pr comment "$oldPRURL" --body "New PR: $prURL"
            { set +x; set -e; } 2>/dev/null
          fi
          set -x
          sleep 10
          gh pr checks --watch --fail-fast "$prURL"
          checksState="$(gh pr checks --json state --jq '.[].state' "$prURL" | sort -u)"
          { set +x; } 2>/dev/null
          if [[ "$checksState" != "SUCCESS" ]]; then
            echo "::error title=Test(s) Failed::$(gh pr checks "$prURL")"
            exit 1
          fi
          set -x
          gh pr merge --merge --auto "$prURL"
      - name: Merge ${{ env.BASE_BRANCH }} branch into ${{ env.UP_TO_DATE_BRANCH }} branch.
        if: ${{ steps.update-and-commit.outputs.update-summary != '' }}
        run: |
          set -x
          git fetch origin "${UP_TO_DATE_BRANCH}"
          git fetch origin "${BASE_BRANCH}"
          git checkout "origin/${UP_TO_DATE_BRANCH}"
          git switch -c "${UP_TO_DATE_BRANCH}"
          git merge "origin/${BASE_BRANCH}"
          git push --set-upstream origin "${UP_TO_DATE_BRANCH}:${UP_TO_DATE_BRANCH}"
